.modal_overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal_container {
  background-color: #0f172a;
  border: 1px solid #334155;
  padding: 24px;
  border-radius: 10px;
  width: 500px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
